.header {
    background: no-repeat center center;
    background-color: #aaaaaa;
    background-attachment: scroll;
    position: relative;
    
    
  }

.header-img {
    max-width: 100%;
    overflow: hidden;
    
}