.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  
  .navside {
    height: 100%;
    width: 15%;
  }
  
  .contents {
    height: 100%;
    width: 85%;
    background-color: #8a8a8a;
  
    .intro {
      height: 50px;
      width: 100%;
      background-color: #B23452;
    }

    .recent {
      height: 400px;
      width: 100%;
      background-color: #B8B8B8;
    }
    .category {
      height: 400px;
      width: 100%;
      background-color: #CCCCCC;
    }
    .recommand {
      height: 400px;
      width: 100%;
      background-color: #FFF000;
    }
  }
}

